<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>请登录</title>
	<meta name="viewport" content="width=device-width, initial-scale=1  maximum-scale=1 user-scalable=no">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="HandheldFriendly" content="True">
	
	<link rel="shortcut icon" href="img/favicon.png">
	
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/materialize.min.css">
	<link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/slick-theme.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.css">
	<link rel="stylesheet" href="css/owl.transitions.css">
	<link rel="stylesheet" href="css/lightbox.min.css">
	<link rel="stylesheet" href="css/style.css">	
</head>
<body>

	<!-- navbar -->
	<div class="navbar">
		<div class="container">
			<div class="panel-control-right">
				<a href="#" data-activates="slide-out-right" class="sidenav-control-right"><i class="fa fa-bars"></i></a>
			</div>
			<div class="site-title">
				<a href="/fdapp"><h1><i class="fa fa-star"></i>{{prompt}}</h1></a>
			</div>
		</div>
	</div>
	<!-- end navbar -->

	
	<!-- login-->
	<div class="login app-pages app-section">
		<div class="container">
			<div class="pages-title">
				<h3>Login</h3>
			</div>
			<form action="#" method="post">
				<input name="username" type="text" placeholder="用户名">
				<input name="password" type="password" placeholder="密码">
				<button class="button">Login</button>
			</form>
		</div>
	</div>
	<!-- end login -->
	
<!-- footer -->
<footer>
    <div class="container">
        <li><i class="fa fa-home"></i><a href="/fdapp">读书首页</a></li>
        <div class="ft-bottom">
            <span>Copyright © 2020 All Rights sunbeat </span>
        </div>
    </div>
</footer>
<!-- end footer -->
	
	<!-- script -->
	<script src="js/jquery.min.js"></script>
	<script src="js/materialize.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/custom.js"></script>

</body>
</html>